* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.carousel {
  width: 600%;
  max-width: 800px;
  height: 100px;
  overflow:visible;
  margin: 80px auto;
  border: 12px;
  box-shadow: 0 0 10px rgba(0, 0,0, 0.2);
}
.slides {
  display: flex;
  width: 35%;
  animation: slide 12s infinite;
}
.slides img {
  width: 90%;
  height: 90%;
  object-fit:cover;
}
@keyframes slides {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%);}
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

body {
  background-color: whitesmoke; /* Remplacez par l’image de fond réelle */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(0, 0, 0);
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  15px 0;
  background-color: #011526;
}
nav ul{
  list-style: none;
  display:flex;
  justify-content: center;
  margin:0;
  padding:0;
}
nav ul li{
  margin: 0 20px;
}
nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  transition: background 0.3s;
  border-radius: 0.3s;
}
nav ul li a:hover {
  background-color: #0066cc;
  border-radius: 5px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.menu a:hover {
  color: #fffefe;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;
  padding: 30px;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 10px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  background-color: #2d3e50;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #1f3951;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(rgb(0, 0, 0,7), green, blue, alpha);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  font-size: 14px;
}